// 公共样式
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend,
input {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
}
img,
fieldset {
  border: 0;
}
img {
  display: inline-block;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 100;
}
body {
  font-family: "微软雅黑";
}
input,
a {
  outline: none;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
// 公共css
.ml-10 {
    margin: 0 10px;
  }
  .mb-10{
    margin: 10px 0;
  }
.mb-30 {
  margin: 30px 0;
}
.mb-20 {
  margin: 20px 0;
}
.mb-50 {
  margin: 50px 0;
}

#app {
  height: 100%;
}

