@import './variable.scss';
@import './layout.scss';
@import './transition.scss';
// 公共样式
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend,
input {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
}
img,
fieldset {
  border: 0;
}
img {
  display: inline-block;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 100;
}
body {
  font-family: "微软雅黑";
}
input,
a {
  outline: none;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
// 公共css
.ml-10 {
    margin: 0 10px;
  }
  .mb-10{
    margin: 10px 0;
  }
.mb-30 {
  margin: 30px 0;
}
.mb-20 {
  margin: 20px 0;
}
.mb-50 {
  margin: 50px 0;
}

#app {
  height: 100%;
}

.mtop30 {
  margin-top: $px30;
}
.fontBold {
  font-weight: bold;
}
.mtrt20 {
  margin-right: $px20;
}
.wid300 {
  width: 300px !important;
}
.btnStyle1 {
  padding: 11px 20px !important;
}
.header i[class^='el-icon'] {
  color: $text-color;
}
#app .clearFixed:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.loginCon .el-input__inner {
  // background: rgba(0, 0, 0, 0.1);
  background: #fff;
  height: 50px;
  outline: none;
  color: $text-color;
  border: none;
}
.loginCon .el-form-item {
  // border: 1px solid hsla(0, 0%, 100%, 0.1);
  border: 1px solid #ddd;
  border-radius: 5px;
}
.marginLeft {
  margin-left: 64px !important;
}
.pTitle {
  font-size: 14px;
  color: #666;
  padding: 10px 0;
  code {
    background-color: #f9fafc;
    padding: 0 4px;
    border: 1px solid #eaeefb;
    border-radius: 4px;
  }
  span {
    font-size: 12px;
  }
  i {
    margin-right: 5px;
    color: #ffc107;
    font-size: 18px;
  }
}
.el-notification {
  .el-icon-s-opportunity {
    color: #ffc107;
    font-size: 22px;
    margin-top: 2px;
  }
}